.body {
    min-height: 100dvh;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.input {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 5vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 50px;
}

#inputbox {
    font-size: large;
    border: none;
    margin: 0 10px;
    /* max-width: 60vw; */
}

.top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-width: 400px;
    margin-bottom: 20px;
}

.timediv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    display: grid;
    grid-template-areas: "left . right";
    gap: 10px
}

.bottom-left {
    grid-area: left;
}

.bottom .right {
    grid-area: right;
}

.bottom .left, .bottom .right {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    max-width: 300px;
    padding: 7px;
    font-size: larger;
}

.button {
    /* width: clamp(10%, 20%, 20%); */
    background: linear-gradient(320deg, rgba(255,255,255,1) 0%, rgba(174,239,151,1) 50%, rgba(198,232,128,1) 100%);
    border-radius: 20px;
    border-style: none;
    transition: 0.3s;
    min-width: calc(100px + 1vw);
}

.button#back {
    background: linear-gradient(320deg, rgba(255,164,164,1) 0%, rgba(239,151,151,1) 25%, rgba(249,0,0,1) 100%);
}

.button#back:hover {
    background: linear-gradient(320deg, rgba(255,113,113,1) 0%, rgba(247,62,62,1) 25%, rgba(149,0,0,1) 100%); 
}

.button:hover {
    background: linear-gradient(320deg, rgba(182,255,159,1) 0%, rgba(89,237,37,1) 50%, rgba(0,136,15,1) 100%);
}

@media screen and (max-width: 600px) {
    .body {
        font-size: calc(9px + 1vw);
    }

    .top-card {
        min-width: 60%;
    }
}