.top {

    display: flex;
    flex-direction: row;
}

.searchBar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 5vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;

}

.searchButton {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 5vh;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;

}

.resultDetails{
    border: 1px white solid;
    width: 100%;
    border-radius: 10px;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 0px;
    text-align: center;

}

.resultDetails button{
    width:50px;
    height: 45px;
    border-radius: 10px;
    background-color:rgba(198, 232, 128, 1);
    ;
   

}