.searchBar {
    width: 500px;
    border: 1px gray solid;
    border-radius: 10px;
    background-color: white;
    margin: auto;


}

.resultDetails{
    border: 1px white solid;
    width: 500px;
    border-radius: 10px;
    height: max-content;
    margin: 50px;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 0px;

}