.searchBar {
    height: 50px;
    border: 1px gray solid;
    border-radius: 10px;
    background-color: lightgray;
    font-size: large;
    margin: 25px;
}

.searchButton {
    height: 50px;
    width: 75px;
    margin-left: 10px;
    border-radius: 10px;

}

.resultDetails{
    border: 1px white solid;
    width: 100%;
    border-radius: 10px;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 0px;
    text-align: center;

}

.resultDetails button{
    width:50px;
    height: 45px;
    border-radius: 10px;
    background-color:rgba(198, 232, 128, 1);
    ;
   

}