.accountIcon{
    margin-left: 200px;
    transform: scale(2.8);

    margin-bottom: 20px;
    margin-top: 30px;
    
}

.change{
    border: 1px white solid;
    width: 95%;
    border-radius: 10px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 0px;
    text-align: center;
}